<%- include('./partials/_admin_header')  %>

<div class="container">
<h1>Dashboard </h1>

<div class="row m-3">
    <a href="/posts/new-post" class="btn btn-success d-flex align-items-center"><i class="material-icons mr-2">add_circle</i>
        New Blog</a>
</div>




</div>




<%- include('./partials/footer') %>