<%- include('./partials/header') %>
  <div class="container pt-5">
   
    <div class="row">
    
            <div class="col-lg-6 col-sm-8 card mt-2 mr-0">
                <div class="row p-2">
    
                    <div class="col-5 overflow-hidden">
                        <img src="img/watch.jpg" class="card-img" alt="...">
    
                    </div>
    
                    <div class="col-7">
                        <div class="d-flex align-items-start">
                            <h5 class="w-100"><b>
                                 Title Lorem ipsum dolor sit.
                                </b></h5>
                            <div class="more position-relative" style="cursor: pointer;">
                                <i class="material-icons p-2">more_vert</i>
                                <div class="d-none options card rounded-pill shadow-sm p-1 position-absolute">
                                    <a href="#" class="rounded-circle p-2 mb-2" style="background:blue;">
                                        <i class="material-icons" style="color:white">create</i>
                                    </a>
    
                                </div>
                            </div>
                        </div>
    
                        <span class="align-self-stretch ">
                           snippet Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas facere illum sunt.
    
                        </span>
                        <div class="d-flex align-items-end">
                            <div class="mr-2">
                                <img src="/img/author.jpg" class="rounded-circle" style="width: 40px; height: 40px;">
                            </div>
                            <div class=" flex-grow-1">
                                <h5 class="" style="font-size: 14px; line-height: 0.5rem;">
                                    <span><b>
                                           Emeka Nze
                                        </b></span>
                                </h5>
                                <p style="font-size: 8px; line-height: 0.2rem;">
                                 02/03/21
                                </p>
                            </div>
                            <a href="#" class=" align-self-end">
                                <i class='material-icons ml-3 text-black'>send</i>
                            </a>
                        </div>
    
                    </div>
                </div>
    
            </div>

            <div class="col-sm-4">Categories</div>
    
    </div>


  </div>
<%- include('./partials/footer') %>