<%- include('./partials/header') %>
    <!-- /nav -->



<div class="container p-5" style="width: 600px;">

    <h2 class="text-center">Login</h2>

    <form action="/login" method="POST">
        <%- include('./partials/messages') %>
        <div class="mb-3 form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>

        </div>
        <div class="mb-3 form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <a href="/" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>Don't have an account ? <a href="/register">Register</a></p>

</div>




<%- include('./partials/footer') %>